  <footer class="footer">
        <div class="container">

            <!-- Social Icons -->
            <div class="social-icons">
                <a href="#"><i class="fa-brands fa-square-facebook"></i>
                <a href="#"><i class="fa-brands fa-square-instagram"></i>
                <a href="#"><i class="fa-brands fa-linkedin"></i>
            </div>

            <!-- Company Name -->
            <div class="footer-text">
                © Wanderlust Private Limited
            </div>

            <!-- Links -->
            <div class="footer-links">
                <a href="#">Privacy</a>
                <a href="#">Terms</a>
            </div>

        </div>
    </footer>